<div class='cart'
    <div class="row">
  
    </div>

    <div class="row">
    </div>

    <hr>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 main">
            <h2>No items in Cart</h2>
        </div>

    
    </div>
</div>